.singleArticle--banner{
    background-image: url('../UI/news-default-image.jpg');
    background: linear-gradient(90deg, rgba(44, 143, 219, 0.985) 0%, rgba(44, 160, 183, 0.844) 31%, rgba(7, 78, 92, 0.354) 100%), url("../UI/news-default-image.jpg");
    min-height: 350px;
    background-position: center center;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    
}

@media only screen and (max-width: 425px){
    .singleArticle--banner{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}